@using MovieBarn.Common.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<FilmVM>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ShortDescription)</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
            <th scope="row">@film.Id</th>
            <td>@film.Name</td>
            <td>@film.ShortDescription</td>
            <td><a asp-controller="Film" asp-action="Edit" asp-route-id="@film.Id">Edit</a></td>
        </tr>
        }
        
    </tbody>
</table>
